@model IEnumerable<PIHLSite.Models.PenaltyRecord>

@{
    ViewData["Title"] = "Index";
}
<div class="bg-white border border-primary rounded">
    <h1>Penalties</h1>
    <table id="table_layout" class="display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Penalty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Player)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.GameId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Penalty.PenaltyDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Player.FirstName) @Html.DisplayFor(modelItem => item.Player.LastName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PenaltyRecordId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PenaltyRecordId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PenaltyRecordId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>