@model IEnumerable<PIHLSite.Models.Game>

@{ ViewData["Title"] = "Index"; }
<div class="bg-white border border-primary rounded">
    <h1>Games</h1>
    <p>
        <a asp-action="Create" class="text-primary">Create New Game</a>
        <div><p class="text-danger">@TempData["Message"]</p></div>
    </p>
    <table id="table_layout" class="display">
        <thead>
            <tr>
                <th>
                    Date Played
                </th>
                <th>
                    Home Goals
                </th>
                <th>
                    Away Goals
                </th>
                <th>
                    Home Team
                </th>
                <th>
                    Away Team
                </th>
                <th>
                    Game Finalized
                </th>
                <th>
                    Overtime
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeScoreTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayScoreTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeTeam.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayTeam.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Finalized)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Overtime)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.GameId" class="text-danger">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.GameId" class="text-danger">Game Scoreboard</a> |
                        <a asp-action="Delete" asp-route-id="@item.GameId" class="text-danger">Delete</a>
                    </td>
                </tr>
}
        </tbody>
    </table>
</div>