@model IEnumerable<PIHLSite.Models.Team>

@{
    ViewData["Title"] = "Index";
}
<div class="bg-white border border-primary rounded">
    <h1>Teams</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Win)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Loss)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Otl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Season)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Win)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Loss)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Otl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Season.SeasonId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TeamId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TeamId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TeamId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>